[Unit]
Description=Circonus Node Agent Daemon
Documentation=http://github.com/circonus-labs/nad
After=network.target

[Service]
Type=forking
PIDFile=/var/run/nad.pid
ExecStart=@@SBIN@@/nad --daemon --pid_file /var/run/nad.pid
Restart=always

[Install]
WantedBy=multi-user.target
